@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  color: white;
  font-weight: bolder;
  font-size: 400%;
}

body {
  background: url("/public/images/mainbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20px;
  height: fit-content;
}

/* Background */

.bg {
  /* background: red; */
  height: fit-content;
  width: fit;
  display: flex;
  flex-direction: column;
}

/* Nav Bar */

.nav {
  /* background: rgb(39, 39, 161); */
  background: url("/public/images/navstyleimg.png");
  background-size: cover;
  height: 100px;
}

.logo {
  color: white;
  font-size: xx-large;
  font-weight: bolder;
}

.comp {
  color: white;
  font-weight: 600;
  height: 5vh;
  width: 30vw;
  font-size: large;
  display: flex;
  flex-direction: col;
  align-items: center;
  justify-content: space-between;
}

/* Landing */

.landing {
  height: fit-content;
  width: fit;
  /* background-color: yellow; */
}

.fran {
  height: fit-content;
  margin-top: 10px;
  margin-bottom: 5px;
  width: fit;
  display: flex;
  align-items: center;
  /* background-color: blue; */
}

.pk {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  /* background-color: purple; */
}

.pk-top {
  text-align: center;
  font-size: medium;
  color: white;
}

.pk-bottom img {
  width: 40px;
  height: 40px;
}

.slide {
  height: 100vh;
  width: fit;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slide2 {
  background-color: pink;
  color: white;

  font-size: 300%;
  font-weight: bolder;
}
.slide3 {
  background-color: purple;
  color: white;

  font-size: 300%;
  font-weight: bolder;
}

.bitcoin {
  /* background-color: brown; */
  height: 520px;
  width: 1170px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box {
  /* background-color: green; */
  width: 52vw;
  height: fit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  z-index: 2;
}

.merlab {
  /* background-color: orange; */
  width: fit-content;
  height: 50vh;
  font-size: 300%;
  font-weight: bolder;
  color: white;
  margin-left: 90px;
  text-shadow: 2px 2px 10px rgb(23, 143, 191);
}
.explore {
  /* background-color: fuchsia; */
  width: 17vw;
  height: 30vh;
  margin-left: 90px;
  margin-bottom: 10vh;
}
.explore img {
  width: 17vw;
  height: 40vh;
}
.bit {
  /* background-color: yellowgreen; */
  width: fit-content;
  height: 470px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
}

.st {
  width: 400px;
  height: 400px;
  position: absolute;
  z-index: 1;
}

.nd {
  position: relative;
  z-index: 0;
  width: 600px;
  height: 600px;
}

.social {
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 45vh;
  height: 600px;
  width: 35px;
  align-items: center;
}

.im {
  min-width: 30px;
  max-width: 30px;
}

.imgs {
  /* background-color: pink; */
  width: fit;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgs-top {
  width: fit;
}

.imgs-bot {
  position: relative;
  width: 210px;
  margin-left: auto;
  top: -155px;
  z-index: 1;
}
.imgs-mid {
  width: 90vw;
  position: relative;
  top: -50px;
  z-index: 2;
}

/* Provide */

.provide {
  height: 100vh;
  width: fit;
  padding: 30px 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.invest {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.discover {
  height: 450px;
  width: 37vw;
  display: flex;
  flex-direction: row;
}

.discover img {
  height: fit-content;
  width: 22.5vw;
  position: absolute;
  z-index: 0;
}

.intro {
  position: relative;
  z-index: 1;
  left: 110px;
  display: flex;
  flex-direction: column;
  padding: 40px 0px;
  justify-content: space-between;
}

.num {
  color: white;
  font-size: xxx-large;
  font-weight: bolder;
}

.sub {
  color: white;
  font-size: x-large;
  font-weight: 600;
}

.top {
  font-size: 250%;
  font-weight: bolder;
  width: 58vw;
  color: white;
  margin-bottom: 3vh;
}

.bottom {
  font-size: xx-large;
  font-weight: bolder;
  width: 58vw;
  color: white;
}

/* DeFi section */

.defi {
  /* background-color: yellow; */
  height: 190vh;
  width: fit;
  padding: 10px 100px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.defi-left {
  height: fit-content;
  width: 40vw;
  display: flex;
  flex-direction: column;
}

.defi-left-top {
  height: fit-content;
  width: 35vw;
  position: absolute;
  z-index: 1;
}

.defi-left-mid {
  position: relative;
  z-index: 0;
  top: 240px;
  width: 500px;
  height: 400px;
  margin-left: 100px;
}
.defi-left-bot {
  height: fit-content;
  width: 30vw;
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}

.defi-left-btop {
  color: #eab308;
  font-size: xx-large;
  height: 8vh;
  width: 40vw;
}
.defi-left-bmid {
  color: white;
  font-size: 300%;
  font-weight: bolder;
  height: 10vh;
  width: 50vw;
  margin-bottom: 15px;
}
.defi-left-bbot {
  color: #9aa7c0;
  font-size: 175%;
  height: fit-content;
  width: 50vw;
}

.defi-right {
  height: 160vh;
  width: 41vw;
  display: flex;
  flex-direction: column;
}

.defi-right-top {
  height: 75vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.defi-right-btop {
  color: rgb(234, 72, 153);
  font-size: xx-large;
  height: 8vh;
  width: fit-content;
}
.defi-right-bmid {
  color: white;
  font-size: 300%;
  font-weight: bolder;
  height: 10vh;
  width: 45vw;
  margin-bottom: 15px;
}
.defi-right-bbot {
  color: #9aa7c0;
  font-size: 175%;
  height: 65vh;
  width: 41vw;
}

.defi-right-mid {
  margin-top: 5vh;
  height: 45vh;
  width: 30vw;
  align-items: end;
  margin-left: auto;
}

/* Audit section */

.audit {
  height: 90vh;
  width: fit;
  padding: 10px;
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.audit-left {
  align-content: start;
  height: 90vh;
  width: 27vw;
  margin-left: 8vw;
  margin-top: 3vh;
}

.audit-right {
  height: 90vh;
  width: 50vw;
  display: flex;
  margin-left: 50px;
  flex-direction: column;
}

.audit-top {
  color: #22c55e;
  font-size: xx-large;
  height: 8vh;
  width: 40vw;
}
.audit-mid {
  color: white;
  font-size: 300%;
  font-weight: bolder;
  height: 10vh;
  width: 40vw;
  margin-bottom: 15px;
}
.audit-bot {
  color: #9aa7c0;
  font-size: 175%;
  height: 65vh;
  width: 40vw;
}

/* Bottom Image */

.bottom-img {
  /* background-color: rgb(0, 0, 0); */
  height: 90vh;
  width: fit;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.bottom-img img {
  /* background-color: red; */
  width: 600px;
  height: 500px;
  margin-right: 100px;
}

/* Coins Section */

.bit-box {
  background-image: linear-gradient(to right, #05104b, #003277);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vw;
  width: 80vw;
  height: 11vh;
  border-radius: 10px;
}

.bit-logo {
  width: 3vw;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bit-name {
  text-transform: capitalize;
  font-weight: 500;
  width: 70vh;
  height: 8vh;
  font-size: 130%;
  color: white;
  margin-right: auto;
  margin-left: 7px;
  display: flex;
  align-items: center;
}

.bit-data {
  width: 30vh;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  padding-bottom: 2px;
}

.value {
  color: white;
  font-size: 110%;
  font-weight: 400;
}

.symbol {
  color: white;
  font-size: 90%;
  font-weight: 400;
}

/* Media Queries */

@media (max-width: 768px) {
  .bitcoin {
    align-items: center;
    justify-content: center;
  }
  .slide {
    padding: 1rem;
  }
  .box {
    height: fit-content;
    width: 40rem;
  }
}
